# ===========================
# Node.js
# ===========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===========================
# Environment variables
# ===========================
.env
config.env

# ===========================
# OS & Editor
# ===========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===========================
# Build / Cache
# ===========================
dist/
build/
.cache/

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# Uploaded files
# ===========================
uploads/
temp/

# ===========================
# PostgreSQL
# ===========================
*.sql
